{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center"> {{ search | title }} </h2>

    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <a href="..."><img src="..." class="card-img-top" alt="..."></a>
                <span>Card Title</span>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light">View listing: Price TEST PRICE</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="..."><img src="..." class="card-img-top" alt="..."></a>
                <span>Card Title</span>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light">View listing: Price TEST PRICE</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="..."><img src="..." class="card-img-top" alt="..."></a>
                <span>Card Title</span>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light">View listing: Price TEST PRICE</a>
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <a href="..."><img src="..." class="card-img-top" alt="..."></a>
                <span>Card Title</span>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-light">View listing: Price TEST PRICE</a>
              </div>
            </div>
        </div>
    </div>
{% endblock %}