{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center"> {{ search | title }} </h2>

    <div class="row">
        {% for post in final_postings %}
            <div class="col-sm-4">
                <div class="card text-center">
                    <a href="{{ post.1 }}"><img src="{{ post.3}}" class="card-img-top" alt="{{ post.0 }}"></a>
<!--                    <span>{{ post.0 }}</span>-->
                  <div class="card-body">
                    <h5 class="card-title">{{ post.0 }}</h5>
<!--                    <p class="card-text"></p>-->
                      <hr>
                    <a href="{{ post.1 }}" class="btn btn-light text-uppercase text-warning">View listing: Price {{ post.2 | upper }}</a>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content%}